{% extends 'base.html' %}

{% load static %}
{% block context %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>메인페이지</title>

    <link href="{% static 'css/reset.css' %}" rel="stylesheet">

    <link href="{% static 'css/form.css' %}" rel="stylesheet">

</head>
<body>

<div id="header">
    <h2 id="joinTitle"><i class="fas fa-taxi">메인페이지</i></h2>
</div>

<div id="content">
    <div id="br"></div>
    <div id="listBox">
        <ul>
        {% for post in posts %}
            <li class = 'list'>
                <img class='post_image' src='{{post.product_image.url}}' width=200 height=200 alt = ""/>
                <h1>상품명 : {{post.product}}</h1><br>
                <h1>가격 : {{post.price}}원</h1><br>
                <h1>판매자 : {{post.writer}}</h1>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
</body>
{% endblock %}